<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="">
            <img class="card-img-top"
              src="https://images.macrumors.com/t/Jzr8kExNit0Q5AH1zt84vwG0KMU=/1600x900/smart/article-new/2019/02/MR-Future-Products-2020-2.png">
            <h1 class="heading mt-3">Apple Macbook</h1>
          </div>
        </div>
        <div class="details col-md-6">

          <p class="product-description card-text">Instead, the buyer persona is likely interested in all-natural
            remedies for the
            home, especially when it comes to allergies. In this case, the potential buyer would likely be interested in
            learning about these remedies in the product description.

            Rather than focus on the decorative features of the lamp, like most other product descriptions for lamps,
            The Salt Lady focuses on the features that would appeal to her buyer persona the most. As a business owner,
            you are understandably excited to share all of the qualities of your products. You want to show that your
            product has the best features and the most unique specs.

            The buyer, however, is not necessarily interested in the mundane features of the product. Instead, they want
            to know how it can benefit them.</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-4">
          <div class="form-group">
            <label for="exampleInputDate">Date</label>
            <input type="text" class="form-control" id="exampleInputDate" placeholder="Enter date">
          </div>
        </div>
        <div class="col-md-4">
          <label for="exampleInputQuantity">Quantity</label>
          <input type="number" class="form-control" id="exampleInputQuantity" placeholder="0">
        </div>
        <div class="col-md-4">
          <label for="exampleInputPrice">Price</label>
          <input type="number" class="form-control" id="exampleInputPrice" placeholder="Rs. 0000.00">
        </div>
      </div>

      <div class="row justify-content-center mt-3">
        <button type="button" class="btn btn-dark">Add Quotation</button>
      </div>
    </div>
  </div>
</div>
