
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  line-height: 1.5;
}
.card-wrapper{
  max-width: 1100px;
  margin: 0 auto;
}
img{
  width: 100%;
  display: block;
}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: #514646 !important;
}
.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #514646;
  text-decoration: line-through;
}
.new-price span{
  color: black;
  font-size: x-large;
  font-weight: bold;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;

}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}
.purchase-info .btn:last-of-type{
  background: #514646;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px){
  .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
}



.dot {
height: 35px;
width: 35px;
border-radius: 50%;
display: inline-block;
border: 1px solid black;
}

.a-button{
font-size: large;
background-color: #514646;
color: #fff;
width: 220px;
height: 40px;
}
.inp{
height: 40px;
font-size: medium;
font-weight: bold;
}
.inp1{
height: 40px;
width: 20%;
font-size: medium;
font-weight: bold;
}
.con{
color: #000;
font-weight: bold;
}
li{
background-color: #514646;
}
.inp2{
height: 50px;
width: 100%;
padding: 5px;
font-size: medium;
font-weight: bold;
background-color: #fff;
float: right !important;
}
.carousel-inner {
width: 100%;
max-height: 500px !important;
}
.carousel-container {
padding-right: 4% !important;
padding-left: 4% !important;
}
.card-sl {
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
max-height: 100%;
max-width: 100%;
border-radius: 8px 8px 0px 0;
}

.card-action {
position: relative;
float: right;
margin-top: -25px;
margin-right: 20px;
z-index: 2;
color: #E26D5C;
background: #fff;
border-radius: 100%;
padding: 15px;
font-size: 15px;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
color: #fff;
background: #E26D5C;
-webkit-animation: pulse 1.5s infinite;
}

.card-heading {
font-size: 18px;
font-weight: bold;
background: #fff;
padding: 10px 15px;
}

.card-text {
padding: 10px 15px;
background: #fff;
font-size: 14px;
color: #636262;
}

.card-button {
display: flex;
justify-content: center;
padding: 10px 0;
width: 100%;
background-color: #514646;
color: #dad3c7;
border-radius: 0 0 8px 8px;
}

.card-button:hover {
text-decoration: none;
background-color: #dad3c7;
color: #514646;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 800%;
font-family: "Berlin Sans FB";
font-weight: 900;
line-height: 175%;
}
.carousel-inner {
width: 100%;
max-height: 500px !important;
}
.carousel-container {
padding-right: 4% !important;
padding-left: 4% !important;
}

h2 {
font-family: "Berlin Sans FB";
line-height: 1.5em;
color: #514646;
font-size:320%;
font-weight:bolder;
border-bottom: 4px solid #514646;
zoom: 1;
}
