.slick-slider {
  width: 88%;
  margin: auto;
  background: whitesmoke;
}

body .slick-prev, 
body .slick-next {
  height: 45px;
  width: 40px;
  background: whitesmoke !important;
  z-index: 100;
  color:red !important;
}

.slick-slider {
  width: 90%;
  margin: auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 50%;
  height: 50%;
}

.img1 {
  width: 50% !important;
  height: 15vw !important;
  margin-left: 25%;
}

.icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .slick {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
