<app-navbar></app-navbar>
<div class="hero-area-l11 bck position-relative z-index-1 overflow-hidden">
  <div class="container position-relative">
    <div class="row position-relative justify-content-center">
      <div class="col-xl-8 col-lg-9 col-md-12 order-lg-1 order-1" data-aos="fade-up" data-aos-duration="500"
        data-aos-once="true">
        <div class="content">
          <h1>Landing page<br class="d-none d-md-block"> built for software.</h1>
          <div class="row banner-l-11-bottom-content">
            <div class="col-lg-8 col-md-8 col-sm-10">
              <p class="position-relative banner-main-content-l-11" style="color: #ffff;">Create custom landing pages
                with
                Shades that convert more
                visitors
                than any website—no coding required.
                <span class="line-left-content"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="hero-shape-l11-1 d-none d-md-block">
    <img src="./image/l2/hero-shape-1.svg" alt="">
  </div>
  <div class="hero-shape-l11-2 d-none d-md-block">
    <img src="./image/l2/hero-shape-2.png" alt="">
  </div>
</div>
<div class=" mt-5">
  <h1 class="heading">Live Auction</h1>
  <p class="desc">Explore on the world's best & largest Bidding marketplace with our beautiful Bidding products. We want
    to be a part of your smile, success and future growth.</p>
</div>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>Nike Shoes</h2>
            <div class="size">
              <h3 class="mt-3">Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3 class="mt-3">Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a routerLink="/bid-details">Place Bid</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>Nike Shoes</h2>
            <div class="size">
              <h3 class="mt-3">Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3 class="mt-3">Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a routerLink="/bid-details">Place Bid</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>Nike Shoes</h2>
            <div class="size">
              <h3 class="mt-3">Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3 class="mt-3">Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a routerLink="/bid-details">Place Bid</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>Nike Shoes</h2>
            <div class="size">
              <h3 class="mt-3">Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3 class="mt-3">Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a routerLink="/bid-details">Place Bid</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>Nike Shoes</h2>
            <div class="size">
              <h3 class="mt-3">Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3 class="mt-3">Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a routerLink="/bid-details">Place Bid</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>Nike Shoes</h2>
            <div class="size">
              <h3 class="mt-3">Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3 class="mt-3">Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a routerLink="/bid-details">Place Bid</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>Nike Shoes</h2>
            <div class="size">
              <h3 class="mt-3">Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3 class="mt-3">Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a routerLink="/bid-details">Place Bid</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="https://assets.codepen.io/4164355/shoes.png">
          </div>
          <div class="contentBx">
            <h2>Nike Shoes</h2>
            <div class="size">
              <h3 class="mt-3">Size :</h3>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
            </div>
            <div class="color">
              <h3 class="mt-3">Color :</h3>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <a routerLink="/bid-details">Place Bid</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="loadmore">
    <div class="row mt-5 mb-5">
      <div class="col-md-3">
        <div class="container">
          <div class="card">
            <div class="imgBx">
              <img src="https://assets.codepen.io/4164355/shoes.png">
            </div>
            <div class="contentBx">
              <h2>Nike Shoes</h2>
              <div class="size">
                <h3 class="mt-3">Size :</h3>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
              </div>
              <div class="color">
                <h3 class="mt-3">Color :</h3>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <a routerLink="/bid-details">Place Bid</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container">
          <div class="card">
            <div class="imgBx">
              <img src="https://assets.codepen.io/4164355/shoes.png">
            </div>
            <div class="contentBx">
              <h2>Nike Shoes</h2>
              <div class="size">
                <h3 class="mt-3">Size :</h3>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
              </div>
              <div class="color">
                <h3 class="mt-3">Color :</h3>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <a routerLink="/bid-details">Place Bid</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container">
          <div class="card">
            <div class="imgBx">
              <img src="https://assets.codepen.io/4164355/shoes.png">
            </div>
            <div class="contentBx">
              <h2>Nike Shoes</h2>
              <div class="size">
                <h3 class="mt-3">Size :</h3>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
              </div>
              <div class="color">
                <h3 class="mt-3">Color :</h3>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <a routerLink="/bid-details">Place Bid</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container">
          <div class="card">
            <div class="imgBx">
              <img src="https://assets.codepen.io/4164355/shoes.png">
            </div>
            <div class="contentBx">
              <h2>Nike Shoes</h2>
              <div class="size">
                <h3 class="mt-3">Size :</h3>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
              </div>
              <div class="color">
                <h3 class="mt-3">Color :</h3>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <a routerLink="/bid-details">Place Bid</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="text-center">
  <button class="btn btn-success" data-mdb-ripple-color="dark" (click)="show()">{{this.showVar}}</button>
</div>
&nbsp;
