<div class="container-fluid p-2">
    <div class="row">
        <div class="col-md-2">
            <div class=" mt-2 carousel-cell">
                <div class="card-sl mb-3" routerLink="/product-details">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
                    </div>

                    <div class="card-heading">
                        Alphonso Ruby
                    </div>
                    <div class="card-text">
                        Species
                    </div>
                    <a href="#" class="card-button" routerLink="/product-details"> Add To Cart</a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class=" mt-2 carousel-cell">
                <div class="card-sl mb-3" routerLink="/product-details">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
                    </div>

                    <div class="card-heading">
                        Alphonso Ruby
                    </div>
                    <div class="card-text">
                        Species
                    </div>
                    <a href="#" class="card-button" routerLink="/product-details"> Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class=" mt-2 carousel-cell">
                <div class="card-sl mb-3" routerLink="/product-details">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
                    </div>

                    <div class="card-heading">
                        Alphonso Ruby
                    </div>
                    <div class="card-text">
                        Species
                    </div>
                    <a href="#" class="card-button" routerLink="/product-details"> Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class=" mt-2 carousel-cell">
                <div class="card-sl mb-3" routerLink="/product-details">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
                    </div>

                    <div class="card-heading">
                        Alphonso Ruby
                    </div>
                    <div class="card-text">
                        Species
                    </div>
                    <a href="#" class="card-button" routerLink="/product-details"> Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mt-2 carousel-cell">
                <div class="card-sl mb-3" routerLink="/product-details">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
                    </div>

                    <div class="card-heading">
                        Alphonso Ruby
                    </div>
                    <div class="card-text">
                        Species
                    </div>
                    <a href="#" class="card-button" routerLink="/product-details"> Add To Cart</a>
                </div>
            </div>
        </div>

    </div>
</div>